.animal-visible-card-styling {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  outline: none;
   
}

.animal-invisible-card-styling {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  outline: none;
   
}

.animal-image {
  height: 120px;
  width: 120px;
   
}

@media screen and (max-width: 728px) {
  .animal-image {
    height: 80px;
    width: 80px;
  }
}
.cardButton {
  border-width: 0px;
  border-radius: 12px;
}