.emojiBg {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.paddingDiv {
  padding: 30px;
}
.link {
  text-decoration: none;
}
.backButton {
  background-color: transparent;
  border-width: 0px;
  color: #334155;
}
.backAlignment {
  display: flex;
  align-items: center;
}
.backText {
  color: #334155;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}

.rulesBox {
  background: #ffffff33;
  border: 3px solid hsla(0, 0%, 100%, 0.188);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.wholeBox {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  align-items: center;
}
.emojiRules {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 50%;
}
.emojiImage {
  width: 70%;
}
.imageBox {
  display: flex;
  justify-content: center;
  margin-right: 35px;
  width: 50%;
}
.emojiRulesHeading {
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
  color: #334155;
}
.listRule {
  max-width: 500px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 17px;
  color: #475569;
}
li {
  padding-bottom: 10px;
}
.startBtn {
  background-color: #334155;
  width: 129;
  height: 48;
  border-radius: 12px;
  opacity: 1;
  gap: 8px;
  color: #fff;
  border-width: 0px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  margin-bottom: 25px;
}
