.rulesBox1 {
  background: #ffffff33;
  border: 2px solid hsla(0, 0%, 100%, 0.188);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  width: 800px;
}
.aligning {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameStatus {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}
.winorLoseText {
  font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
  color: #334155;
}
.bestScoreText {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #334155;
}
.scoreText {
  color: #523fff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.playBtn {
  background-color: #ffce27;
  width: 145px;
  height: 40px;
  border-radius: 20px;
  border-width: 0px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  color: #3d3d3d;
  text-align: center;
  margin-bottom: 10px;
}
.winLoseImg {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}
.result {
  width: 80%;
  margin-top: 20px;
}
