.background1 {
  background-color: #223a5f;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width:600px){
  .background1{
    padding: 0;
  }
}

.link {
  text-decoration: none;
}
.backButton {
  background-color: transparent;
  border-width: 0px;
  color: #334155;
}
.backAlignment {
  display: flex;
  align-items: center;
}
.backText2 {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}
@media screen and (max-width:600px){
  .backText2{
    font-size: 12px;
    font-weight: 0;
  }
}

.imageCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gameText2 {
  font-family: Bree Serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
@media screen and (max-width:600px){
  .gameText2{
     font-size: 10px;
     font-weight: 0;
  }
}
.emojiImg2 {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 40%;
}
.heading2 {
  text-align: left;
  font-family: Bree Serif;
  font-weight: 400;
  font-size: 32px;
  padding-left: 20px;
  color:#fff;
}
.description {
  display: flex;
  justify-content: center;
}

.span {
  color: yellow;
}
.buttonMatrix1 {
  width: 132px;
  height: 48px;
  gap: 8px;
  opacity: 1;
  border-radius: 12px;
  border-width: 0px;
  padding-top: 12px;
  padding-right: 24px;
  margin-left: 20px;
  padding-bottom: 12px;
  padding-left: 24px;
  font-family: Bree Serif;
  font-weight: 400;
  font-size: 14px;
  color: #223a5f;
}

.unordered-list-styling2 {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
  text-align: start;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2.5rem;
}
.unordered-list-styling1 li {
  flex: 1 1 45%;
  min-width: 0;
}
@media screen and (max-width:600px){
   .heading2{
    font-size: 16px;
    font-weight: 100;
   }
   .unordered-list-styling2{
    font-size: 10px;
    font-weight: 0;
    padding: 8px;
   }
   .buttonMatrix1{
    width:75px;
    height:30px;
    gap:0;
    padding:0px;
    font-size: 11px;
    margin-bottom: 6px;
  }
   
}